workflows/VAPT_Shared_Summary_Generator.json
{
  "name": "VAPT_Shared_Summary_Generator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "target_chat_id", "type": "string" },
            { "name": "summary_mode", "type": "string" },
            { "name": "bot_token_cred_name", "type": "string" }
          ]
        }
      },
      "id": "b2000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "b2000001-0000-0000-0000-000000000002",
      "name": "Fetch All Projects DB1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [250, -150],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB3_TASK_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "b2000001-0000-0000-0000-000000000003",
      "name": "Fetch All Tasks DB3",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [250, 0],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB5_VULN_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "b2000001-0000-0000-0000-000000000004",
      "name": "Fetch All Vulns DB5",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [250, 150],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "b2000001-0000-0000-0000-000000000005",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $('Fetch All Projects DB1').all().map(i => i.json);\nconst tasks = $('Fetch All Tasks DB3').all().map(i => i.json);\nconst vulns = $('Fetch All Vulns DB5').all().map(i => i.json);\n\nconst phaseOrder = ['Pre-Kickoff','Kickoff','Initial Test','Initial Report','Presentation','Patching','Retest','Retest Report'];\nconst phaseDateMap = {\n  'Pre-Kickoff': 'date_pre_kickoff',\n  'Kickoff': 'date_kickoff',\n  'Initial Test': 'date_initial_test',\n  'Initial Report': 'date_initial_report',\n  'Presentation': 'date_presentation',\n  'Patching': 'date_patching',\n  'Retest': 'date_retest',\n  'Retest Report': 'date_retest_report'\n};\n\nfunction getProp(props, key, type) {\n  const p = props[key];\n  if (!p) return null;\n  if (type === 'title') return p.title?.[0]?.plain_text || null;\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || null;\n  if (type === 'select') return p.select?.name || null;\n  if (type === 'multi_select') return p.multi_select?.map(s => s.name) || [];\n  if (type === 'date') return p.date?.start || null;\n  if (type === 'number') return p.number || 0;\n  if (type === 'relation') return p.relation?.map(r => r.id) || [];\n  return null;\n}\n\nfunction calcStatus(project) {\n  const props = project.properties || {};\n  const today = new Date();\n  const currentPhase = getProp(props, 'current_phase', 'select');\n  if (!currentPhase) return 'Pre-Engagement';\n  if (currentPhase === 'Retest Report') {\n    const d = getProp(props, 'date_retest_report', 'date');\n    if (d && today > new Date(d)) return 'Finish';\n  }\n  const dateField = phaseDateMap[currentPhase];\n  if (dateField) {\n    const d = getProp(props, dateField, 'date');\n    if (d && today > new Date(d)) return 'Delay';\n  }\n  if (currentPhase === 'Pre-Kickoff') return 'Pre-Engagement';\n  return 'On Going';\n}\n\nconst projectSummaries = projects.map(proj => {\n  const props = proj.properties || {};\n  const projectId = proj.id;\n  const status = calcStatus(proj);\n  const projTasks = tasks.filter(t => {\n    const rel = t.properties?.project_id?.relation || [];\n    return rel.some(r => r.id === projectId);\n  });\n  const projVulns = vulns.filter(v => {\n    const rel = v.properties?.project_id?.relation || [];\n    return rel.some(r => r.id === projectId);\n  });\n  const taskStats = {\n    total: projTasks.length,\n    not_started: projTasks.filter(t => getProp(t.properties, 'task_status', 'select') === 'Not Started').length,\n    in_progress: projTasks.filter(t => getProp(t.properties, 'task_status', 'select') === 'In Progress').length,\n    blocked: projTasks.filter(t => getProp(t.properties, 'task_status', 'select') === 'Blocked').length,\n    done: projTasks.filter(t => getProp(t.properties, 'task_status', 'select') === 'Done').length\n  };\n  const vulnStats = {\n    total: projVulns.length,\n    critical: projVulns.filter(v => getProp(v.properties, 'severity', 'select') === 'Critical').length,\n    high: projVulns.filter(v => getProp(v.properties, 'severity', 'select') === 'High').length,\n    medium: projVulns.filter(v => getProp(v.properties, 'severity', 'select') === 'Medium').length,\n    low: projVulns.filter(v => getProp(v.properties, 'severity', 'select') === 'Low').length,\n    open: projVulns.filter(v => getProp(v.properties, 'status', 'select') === 'Open').length,\n    patched: projVulns.filter(v => getProp(v.properties, 'status', 'select') === 'Patched').length,\n    retest_passed: projVulns.filter(v => getProp(v.properties, 'status', 'select') === 'Retest Passed').length\n  };\n  return {\n    project_id: getProp(props, 'project_id', 'title'),\n    project_name: getProp(props, 'project_name', 'text'),\n    client_name: getProp(props, 'client_name', 'text'),\n    methodology: getProp(props, 'methodology', 'select'),\n    current_phase: getProp(props, 'current_phase', 'select'),\n    status,\n    pm_notes: getProp(props, 'pm_notes', 'text'),\n    objects: getProp(props, 'object_list', 'multi_select'),\n    date_retest_report: getProp(props, 'date_retest_report', 'date'),\n    task_stats: taskStats,\n    vuln_stats: vulnStats\n  };\n});\n\nconst summaryMode = $input.first().json.summary_mode || 'full';\nconst totalProjects = projectSummaries.length;\nconst activeProjects = projectSummaries.filter(p => p.status !== 'Finish').length;\nconst delayedProjects = projectSummaries.filter(p => p.status === 'Delay').length;\n\nreturn [{\n  json: {\n    projects: projectSummaries,\n    meta: { totalProjects, activeProjects, delayedProjects, summaryMode, generatedAt: new Date().toISOString() },\n    target_chat_id: $input.first().json.target_chat_id\n  }\n}];"
      },
      "id": "b2000001-0000-0000-0000-000000000006",
      "name": "Aggregate Project Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.3,
          "maxTokens": 4096
        }
      },
      "id": "b2000001-0000-0000-0000-000000000007",
      "name": "Claude LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1000, 150],
      "credentials": {
        "anthropicApi": { "id": "{{ ANTHROPIC_CRED }}", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.projects, null, 2) }}",
        "options": {
          "systemMessage": "Kamu adalah AI assistant untuk Project Manager sebuah perusahaan VAPT (Vulnerability Assessment and Penetration Testing).\n\nFormat data proyek VAPT berikut menjadi laporan ringkasan eksekutif yang informatif dalam Bahasa Indonesia.\n\nGunakan format berikut:\n📊 *RINGKASAN PROYEK VAPT*\n📅 *Dihasilkan:* [tanggal]\n📈 *Total Proyek:* X | *Aktif:* X | *Terlambat:* X\n\nUntuk setiap proyek aktif:\n━━━━━━━━━━━━━━━━\n[Status Emoji] *[Nama Proyek]*\n🏢 Klien: [nama_klien]\n📍 Fase: [fase_saat_ini]\n🔴/🟡/🟢 Status: [status]\n🐛 Vuln: [critical]C [high]H [medium]M [low]L\n✅ Task: [done]/[total]\n[⚠️ Catatan PM jika ada]\n\nStatus Emoji: 🟢=On Going, 🟡=Pre-Engagement, 🔴=Delay, ✅=Finish\n\nAkhiri dengan kesimpulan singkat dan item yang perlu perhatian segera.\nBatasi total respons maksimal 3500 karakter."
        }
      },
      "id": "b2000001-0000-0000-0000-000000000008",
      "name": "Generate AI Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const summaryText = $input.first().json.text || 'Tidak dapat generate summary saat ini.';\nconst meta = $('Aggregate Project Data').first().json.meta;\nconst targetChatId = $('Aggregate Project Data').first().json.target_chat_id;\n\nconst header = `📊 <b>LAPORAN PROYEK VAPT</b>\\n🕐 ${new Date().toLocaleString('id-ID', {timeZone:'Asia/Jakarta'})} WIB\\n`;\nconst fullText = header + '\\n' + summaryText;\n\n// Split if > 4096 chars (Telegram limit)\nconst MAX_LEN = 4000;\nconst messages = [];\nif (fullText.length <= MAX_LEN) {\n  messages.push(fullText);\n} else {\n  let remaining = fullText;\n  while (remaining.length > 0) {\n    let chunk = remaining.substring(0, MAX_LEN);\n    const lastNewline = chunk.lastIndexOf('\\n');\n    if (lastNewline > 0) chunk = remaining.substring(0, lastNewline);\n    messages.push(chunk);\n    remaining = remaining.substring(chunk.length);\n  }\n}\n\nreturn messages.map((msg, idx) => ({ json: { text: msg, chat_id: targetChatId, part: idx + 1, total_parts: messages.length } }));"
      },
      "id": "b2000001-0000-0000-0000-000000000009",
      "name": "Prepare Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b2000001-0000-0000-0000-000000000010",
      "name": "Send Summary Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1500, 0],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_A_CRED }}", "name": "Telegram Bot A - PM Assistant" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## VAPT Shared Summary Generator\nSub-workflow ini dipanggil oleh A5, B1, B2, C1, C2.\n\n**Input Parameters:**\n- `target_chat_id`: Chat ID tujuan pengiriman pesan\n- `summary_mode`: 'full' | 'morning' | 'evening'\n- `bot_token_cred_name`: Nama credential bot yang mengirim\n\n**Flow:**\nFetch DB1+DB3+DB5 → Aggregate → Claude AI → Split & Send",
        "height": 200,
        "width": 400
      },
      "id": "b2000001-0000-0000-0000-000000000011",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -250]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Fetch All Projects DB1", "type": "main", "index": 0 },
          { "node": "Fetch All Tasks DB3", "type": "main", "index": 0 },
          { "node": "Fetch All Vulns DB5", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Projects DB1": {
      "main": [[{ "node": "Merge All Data", "type": "main", "index": 0 }]]
    },
    "Fetch All Tasks DB3": {
      "main": [[{ "node": "Merge All Data", "type": "main", "index": 1 }]]
    },
    "Fetch All Vulns DB5": {
      "main": [[{ "node": "Merge All Data", "type": "main", "index": 2 }]]
    },
    "Merge All Data": {
      "main": [[{ "node": "Aggregate Project Data", "type": "main", "index": 0 }]]
    },
    "Aggregate Project Data": {
      "main": [[{ "node": "Generate AI Summary", "type": "main", "index": 0 }]]
    },
    "Claude LLM": {
      "ai_languageModel": [[{ "node": "Generate AI Summary", "type": "ai_languageModel", "index": 0 }]]
    },
    "Generate AI Summary": {
      "main": [[{ "node": "Prepare Messages", "type": "main", "index": 0 }]]
    },
    "Prepare Messages": {
      "main": [[{ "node": "Send Summary Message", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [{ "name": "vapt" }, { "name": "shared" }, { "name": "summary" }],
  "pinData": {},
  "versionId": "b2000001-0000-0000-0000-000000000099",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "{{ N8N_INSTANCE_ID }}" }
}
