workflows/VAPT_Error_Handler.json
{
  "name": "VAPT_Error_Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const err = $input.first().json;\nconst execErr = err.execution || {};\nconst wf = err.workflow || {};\n\nconst errorInfo = {\n  workflow_name: wf.name || 'Unknown Workflow',\n  workflow_id: wf.id || 'unknown',\n  execution_id: execErr.id || 'unknown',\n  last_node: execErr.lastNodeExecuted || 'Unknown Node',\n  error_message: execErr.error?.message || 'Unknown error',\n  error_type: execErr.error?.name || 'Error',\n  timestamp: new Date().toISOString(),\n  environment: $vars.ENVIRONMENT || 'production'\n};\n\nconst telegramText = [\n  '🚨 <b>VAPT Workflow Error Alert</b>',\n  '',\n  `📋 <b>Workflow:</b> ${errorInfo.workflow_name}`,\n  `🔧 <b>Node:</b> ${errorInfo.last_node}`,\n  `❌ <b>Error:</b> ${errorInfo.error_message.substring(0, 200)}`,\n  `🕐 <b>Time:</b> ${errorInfo.timestamp}`,\n  `🆔 <b>Execution:</b> ${errorInfo.execution_id}`\n].join('\\n');\n\nreturn [{ json: { ...errorInfo, telegramText } }];"
      },
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.PM_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramText }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Alert PM via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 0],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const err = $('Format Error Message').first().json;\nconst logId = `ERR-${Date.now()}`;\n\nreturn [{ json: {\n  logId,\n  workflow_name: err.workflow_name,\n  workflow_id: err.workflow_id,\n  execution_id: err.execution_id,\n  last_node: err.last_node,\n  error_message: err.error_message,\n  error_type: err.error_type,\n  timestamp: err.timestamp,\n  environment: err.environment\n} }];"
      },
      "id": "a1000001-0000-0000-0000-000000000004a",
      "name": "Prepare Notion Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 150]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_DB7_ERROR_LOG }}",
        "title": "={{ $json.logId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "workflow_name", "type": "richText", "textContent": "={{ $json.workflow_name }}" },
            { "key": "workflow_id", "type": "richText", "textContent": "={{ $json.workflow_id }}" },
            { "key": "execution_id", "type": "richText", "textContent": "={{ $json.execution_id }}" },
            { "key": "last_node", "type": "richText", "textContent": "={{ $json.last_node }}" },
            { "key": "error_message", "type": "richText", "textContent": "={{ $json.error_message }}" },
            { "key": "error_type", "type": "select", "selectValue": "={{ $json.error_type }}" },
            { "key": "environment", "type": "select", "selectValue": "={{ $json.environment }}" },
            { "key": "error_timestamp", "type": "date", "dateValue": "={{ $json.timestamp.split('T')[0] }}" }
          ]
        }
      },
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Log Error to Notion DB7",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [750, 150],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## VAPT Error Handler\nWorkflow ini menangkap semua error dari seluruh VAPT workflows.\n\n**Actions:**\n- Format pesan error dengan context lengkap\n- Kirim alert ke PM via Bot A\n- Log error ke Notion DB-7 (Error Log)\n\n**Setup:**\n1. Buat Notion DB-7 (Error Log) — lihat SETUP_GUIDE.md\n2. Set NOTION_DB7_ERROR_LOG di n8n Variables\n3. Set errorWorkflow ID ini di semua workflow lain",
        "height": 220,
        "width": 430
      },
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -280]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Format Error Message", "type": "main", "index": 0 }]]
    },
    "Format Error Message": {
      "main": [
        [
          { "node": "Alert PM via Telegram", "type": "main", "index": 0 },
          { "node": "Prepare Notion Error Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Notion Error Payload": {
      "main": [
        [{ "node": "Log Error to Notion DB7", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    { "name": "vapt" },
    { "name": "error-handler" },
    { "name": "production" }
  ],
  "pinData": {},
  "versionId": "a1000001-0000-0000-0000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ N8N_INSTANCE_ID }}"
  }
}
