workflows/VAPT_C3_Daily_Activity.json
{
  "name": "VAPT_C3_Daily_Activity",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "userId",
              "type": "string"
            },
            {
              "name": "firstName",
              "type": "string"
            },
            {
              "name": "callbackData",
              "type": "string"
            },
            {
              "name": "session",
              "type": "object"
            },
            {
              "name": "route",
              "type": "string"
            },
            {
              "name": "text",
              "type": "string"
            }
          ]
        }
      },
      "id": "m3000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.route }}",
              "rightValue": "c3_init",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "m3000001-0000-0000-0000-000000000002",
      "name": "Is Init?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB2_PENTESTER_LIST }}",
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "telegram_user_id",
              "condition": "equals",
              "value": "={{ $('Execute Workflow Trigger').item.json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "m3000001-0000-0000-0000-000000000003",
      "name": "Lookup Pentester by User ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        -200
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "m3000001-0000-0000-0000-000000000004",
      "name": "Is Registered Pentester?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatId }}",
        "text": "⛔ <b>Akses Ditolak</b>\n\nUser ID kamu tidak terdaftar sebagai pentester dalam sistem.\nHubungi Project Manager untuk pendaftaran.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000005",
      "name": "Send Not Registered Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -350
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pentester = $input.first().json;\nconst userId = $('Execute Workflow Trigger').first().json.userId;\nconst chatId = $('Execute Workflow Trigger').first().json.chatId;\nconst firstName = $('Execute Workflow Trigger').first().json.firstName;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return null;\n  if (type === 'title') return p.title?.[0]?.plain_text || null;\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || null;\n  if (type === 'relation') return (p.relation || []).map(r => r.id);\n  if (type === 'select') return p.select?.name || null;\n  return null;\n}\n\nconst pentesterNotionId = pentester.id;\nconst pentesterName = getProp(pentester.properties, 'name', 'text') || firstName;\nconst assignedProjectIds = getProp(pentester.properties, 'assigned_projects', 'relation') || [];\n\nreturn [{ json: { chatId, userId, pentesterNotionId, pentesterName, assignedProjectIds } }];"
      },
      "id": "m3000001-0000-0000-0000-000000000006",
      "name": "Extract Pentester Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "m3000001-0000-0000-0000-000000000007",
      "name": "Fetch Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1250,
        -200
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst pentesterData = $('Extract Pentester Data').first().json;\nconst { chatId, pentesterNotionId, assignedProjectIds } = pentesterData;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return '';\n  if (type === 'title') return p.title?.[0]?.plain_text || '';\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || '';\n  if (type === 'select') return p.select?.name || '';\n  return '';\n}\n\nconst myProjects = projects.filter(p => {\n  const rels = p.properties?.assigned_pentesters?.relation || [];\n  return rels.some(r => r.id === pentesterNotionId) && getProp(p.properties, 'current_phase', 'select') !== 'Retest Report';\n});\n\nif (myProjects.length === 0) {\n  return [{ json: { chatId, noProjects: true } }];\n}\n\nconst buttons = myProjects.map(p => ({\n  text: `${getProp(p.properties, 'project_id', 'title')} — ${getProp(p.properties, 'current_phase', 'select')}`,\n  callback_data: `act:proj:${p.id}`\n}));\n\nreturn [{ json: {\n  chatId,\n  pentesterNotionId,\n  pentesterName: pentesterData.pentesterName,\n  inline_keyboard: buttons.map(b => [b])\n} }];"
      },
      "id": "m3000001-0000-0000-0000-000000000008",
      "name": "Filter Assigned Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        -200
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $('Execute Workflow Trigger').item.json.userId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_activity', step: 'waiting_project_select', data: { pentesterNotionId: $json.pentesterNotionId, pentesterName: $json.pentesterName } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "m3000001-0000-0000-0000-000000000009",
      "name": "Save Init Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1750,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ '📝 <b>Log Aktivitas Harian</b>\\n\\nHalo ' + $json.pentesterName + '! Pilih proyek yang ingin di-update:' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: $json.inline_keyboard }) }}"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000010",
      "name": "Send Project Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        -200
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incoming = $('Execute Workflow Trigger').first().json;\nconst session = incoming.session || {};\nconst step = session.step;\nconst data = session.data || {};\nconst chatId = incoming.chatId;\nconst userId = incoming.userId;\nconst text = incoming.text || '';\nconst cbData = incoming.callbackData || '';\n\nreturn [{ json: { chatId, userId, step, data, text, cbData } }];"
      },
      "id": "m3000001-0000-0000-0000-000000000011",
      "name": "Parse Session (Session Flow)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "waiting_project_select",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "got_project"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "waiting_activity_desc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "got_activity"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "waiting_findings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "got_findings"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "waiting_hours",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "got_hours"
            }
          ]
        },
        "options": {}
      },
      "id": "m3000001-0000-0000-0000-000000000012",
      "name": "Route Session Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_activity', step: 'waiting_activity_desc', data: { ...($json.data), selectedProjectId: $json.cbData.replace('act:proj:', '') } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "m3000001-0000-0000-0000-000000000013",
      "name": "Save Project → Ask Activity",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Proyek dipilih!\n\n<b>Deskripsi aktivitas hari ini:</b>\n<i>Jelaskan apa yang dikerjakan hari ini (bisa multi-baris)</i>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"force_reply\": true}"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000014",
      "name": "Ask Activity Description",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_activity', step: 'waiting_findings', data: { ...($json.data), activity_description: $json.text } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "m3000001-0000-0000-0000-000000000015",
      "name": "Save Activity → Ask Findings",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        250
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Aktivitas tersimpan!\n\n<b>Ringkasan findings hari ini:</b>\n<i>(Opsional - ketik \"-\" untuk skip)</i>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"force_reply\": true}"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000016",
      "name": "Ask Findings",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        250
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_activity', step: 'waiting_hours', data: { ...($json.data), findings_summary: $json.text === '-' ? '' : $json.text } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "m3000001-0000-0000-0000-000000000017",
      "name": "Save Findings → Ask Hours",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Findings tersimpan!\n\n<b>Berapa jam kerja hari ini?</b>\n<i>(Masukkan angka, contoh: 8 atau 4.5)</i>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{{ JSON.stringify({ inline_keyboard: [[{text:'4',callback_data:'act:hours:4'},{text:'5',callback_data:'act:hours:5'},{text:'6',callback_data:'act:hours:6'},{text:'7',callback_data:'act:hours:7'},{text:'8',callback_data:'act:hours:8'}]] }) }}"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000018",
      "name": "Ask Hours",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst data = item.data || {};\nconst hoursRaw = item.cbData ? item.cbData.replace('act:hours:', '') : item.text;\nconst hours = parseFloat(hoursRaw) || 0;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ json: {\n  chatId: item.chatId,\n  userId: item.userId,\n  data: { ...data, hours_spent: hours },\n  today,\n  notionPayload: {\n    log_id: `LOG-${Date.now()}`,\n    project_id: data.selectedProjectId,\n    pentester_id: data.pentesterNotionId,\n    log_date: today,\n    activity_description: data.activity_description || '',\n    findings_summary: data.findings_summary || '',\n    hours_spent: hours\n  }\n} }];"
      },
      "id": "m3000001-0000-0000-0000-000000000019",
      "name": "Build Log Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        550
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_DB4_DAILY_LOG }}",
        "title": "={{ $json.notionPayload.log_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "project_id",
              "type": "relation",
              "relationValue": [
                {
                  "id": "={{ $json.notionPayload.project_id }}"
                }
              ]
            },
            {
              "key": "pentester_id",
              "type": "relation",
              "relationValue": [
                {
                  "id": "={{ $json.notionPayload.pentester_id }}"
                }
              ]
            },
            {
              "key": "log_date",
              "type": "date",
              "dateValue": "={{ $json.notionPayload.log_date }}"
            },
            {
              "key": "activity_description",
              "type": "richText",
              "textContent": "={{ $json.notionPayload.activity_description }}"
            },
            {
              "key": "findings_summary",
              "type": "richText",
              "textContent": "={{ $json.notionPayload.findings_summary }}"
            },
            {
              "key": "hours_spent",
              "type": "number",
              "numberValue": "={{ $json.notionPayload.hours_spent }}"
            }
          ]
        }
      },
      "id": "m3000001-0000-0000-0000-000000000020",
      "name": "Create Log in Notion DB4",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1250,
        550
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "del"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $('Build Log Payload').item.json.userId }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "m3000001-0000-0000-0000-000000000021",
      "name": "Clear Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1500,
        550
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Build Log Payload').item.json.chatId }}",
        "text": "={{ '✅ <b>Aktivitas Berhasil Dicatat!</b>\\n\\n📋 <b>Aktivitas:</b> ' + $('Build Log Payload').item.json.data.activity_description.substring(0, 100) + '...\\n⏱ <b>Jam Kerja:</b> ' + $('Build Log Payload').item.json.data.hours_spent + ' jam\\n📅 <b>Tanggal:</b> ' + $('Build Log Payload').item.json.today + '\\n\\nData tersimpan di Notion. Gunakan /add_vuln untuk menambahkan temuan vulnerability.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "m3000001-0000-0000-0000-000000000022",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1750,
        550
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_C_CRED }}",
          "name": "Telegram Bot C - Pentester Group"
        }
      }
    },
    {
      "parameters": {
        "content": "## VAPT C3 — Daily Activity Log\n\n**Trigger:** Sub-workflow dipanggil oleh Bot C Dispatcher (`/update_activity`)\n\n**Validasi:** Lookup `telegram_user_id` di Notion DB-2. Jika tidak terdaftar → akses ditolak.\n\n**Flow (4 langkah via Redis session):**\n1. Pilih proyek yang ditugaskan ke pentester (inline keyboard)\n2. Input deskripsi aktivitas hari ini\n3. Input ringkasan findings (opsional, ketik \"-\" untuk skip)\n4. Pilih jam kerja (inline keyboard: 4–8 jam, atau ketik manual)\n\n**Output:** Log aktivitas tersimpan di Notion DB-4\n**Database:** DB-2 (read), DB-4 (create)\n**Session Key:** `vapt:session:{userId}` (TTL 1 jam)",
        "height": 260,
        "width": 500
      },
      "id": "m3000001-0000-0000-0000-000000000023",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -310
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Init?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Init?": {
      "main": [
        [
          {
            "node": "Lookup Pentester by User ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Session (Session Flow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Pentester by User ID": {
      "main": [
        [
          {
            "node": "Is Registered Pentester?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Registered Pentester?": {
      "main": [
        [
          {
            "node": "Extract Pentester Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Not Registered Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Pentester Data": {
      "main": [
        [
          {
            "node": "Fetch Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Projects": {
      "main": [
        [
          {
            "node": "Filter Assigned Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Assigned Projects": {
      "main": [
        [
          {
            "node": "Save Init Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Init Session": {
      "main": [
        [
          {
            "node": "Send Project Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Session (Session Flow)": {
      "main": [
        [
          {
            "node": "Route Session Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Session Step": {
      "main": [
        [
          {
            "node": "Save Project → Ask Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Activity → Ask Findings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Findings → Ask Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Project → Ask Activity": {
      "main": [
        [
          {
            "node": "Ask Activity Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Activity → Ask Findings": {
      "main": [
        [
          {
            "node": "Ask Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Findings → Ask Hours": {
      "main": [
        [
          {
            "node": "Ask Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Log Payload": {
      "main": [
        [
          {
            "node": "Create Log in Notion DB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Log in Notion DB4": {
      "main": [
        [
          {
            "node": "Clear Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Session": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [
    {
      "name": "vapt"
    },
    {
      "name": "bot-c"
    },
    {
      "name": "activity-log"
    }
  ],
  "pinData": {},
  "versionId": "m3000001-0000-0000-0000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ N8N_INSTANCE_ID }}"
  }
}