workflows/VAPT_A6_PM_Reminder.json
{
  "name": "VAPT_A6_PM_Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "30 0 * * *" },
            { "field": "cronExpression", "expression": "30 9 * * *" }
          ]
        }
      },
      "id": "i9000001-0000-0000-0000-000000000001",
      "name": "Schedule Trigger (07:30 & 16:30 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "07:30 WIB = 00:30 UTC | 16:30 WIB = 09:30 UTC"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "i9000001-0000-0000-0000-000000000002",
      "name": "Fetch All Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [250, 0],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\n\nconst isEvening = now.getUTCHours() >= 9; // 09:30 UTC = 16:30 WIB\nconst sessionLabel = isEvening ? '🌆 REMINDER SORE' : '🌅 REMINDER PAGI';\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return null;\n  if (type === 'title') return p.title?.[0]?.plain_text || null;\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || null;\n  if (type === 'select') return p.select?.name || null;\n  if (type === 'multi_select') return (p.multi_select || []).map(s => s.name);\n  if (type === 'date') return p.date?.start || null;\n  return null;\n}\n\nconst phaseDateMap = {\n  'Pre-Kickoff': 'date_pre_kickoff',\n  'Kickoff': 'date_kickoff',\n  'Initial Test': 'date_initial_test',\n  'Initial Report': 'date_initial_report',\n  'Presentation': 'date_presentation',\n  'Patching': 'date_patching',\n  'Retest': 'date_retest',\n  'Retest Report': 'date_retest_report'\n};\n\nfunction calcDaysUntil(dateStr) {\n  if (!dateStr) return null;\n  const target = new Date(dateStr);\n  const diff = target - now;\n  return Math.ceil(diff / (1000 * 60 * 60 * 24));\n}\n\nfunction calcStatus(props) {\n  const currentPhase = getProp(props, 'current_phase', 'select');\n  if (!currentPhase || currentPhase === 'Pre-Kickoff') return 'Pre-Engagement';\n  const dateField = phaseDateMap[currentPhase];\n  if (dateField) {\n    const d = getProp(props, dateField, 'date');\n    if (d && now > new Date(d)) return 'Delay';\n  }\n  if (currentPhase === 'Retest Report') {\n    const d = getProp(props, 'date_retest_report', 'date');\n    if (d && now > new Date(d)) return 'Finish';\n  }\n  return 'On Going';\n}\n\nconst activeProjects = projects.filter(p => {\n  const status = calcStatus(p.properties);\n  return status !== 'Finish';\n});\n\nconst reminderLines = [`${sessionLabel} — ${new Date().toLocaleDateString('id-ID', { timeZone: 'Asia/Jakarta', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })} WIB`, ''];\n\nlet hasUrgent = false;\n\nactiveProjects.forEach(p => {\n  const props = p.properties;\n  const projectId = getProp(props, 'project_id', 'title') || 'N/A';\n  const projectName = getProp(props, 'project_name', 'text') || 'N/A';\n  const currentPhase = getProp(props, 'current_phase', 'select') || 'N/A';\n  const status = calcStatus(props);\n  const pmNotes = getProp(props, 'pm_notes', 'text');\n  const lastUpdated = getProp(props, 'last_updated', 'date');\n  const dateField = phaseDateMap[currentPhase];\n  const phaseDate = dateField ? getProp(props, dateField, 'date') : null;\n  const daysUntil = calcDaysUntil(phaseDate);\n\n  let statusEmoji = '🟢';\n  let alertLines = [];\n\n  if (status === 'Delay') {\n    statusEmoji = '🔴';\n    alertLines.push(`⚠️ TERLAMBAT — Fase ${currentPhase} sudah lewat dari jadwal!`);\n    hasUrgent = true;\n  } else if (daysUntil !== null && daysUntil <= 3 && daysUntil >= 0) {\n    statusEmoji = '🟡';\n    alertLines.push(`🔔 Fase <b>${currentPhase}</b> berakhir dalam <b>${daysUntil} hari</b> (${phaseDate})`);\n    hasUrgent = true;\n  }\n\n  // Check if PM notes need update (> 24 hours without update)\n  if (lastUpdated) {\n    const lastUpdate = new Date(lastUpdated);\n    const hoursSinceUpdate = (now - lastUpdate) / (1000 * 60 * 60);\n    if (hoursSinceUpdate > 24) {\n      alertLines.push(`📝 Catatan PM belum diupdate lebih dari 24 jam`);\n    }\n  } else {\n    alertLines.push(`📝 Belum ada catatan PM untuk proyek ini`);\n  }\n\n  reminderLines.push(`${statusEmoji} <b>${projectId}</b> — ${projectName}`);\n  reminderLines.push(`   📍 Fase: ${currentPhase} | Status: ${status}`);\n  if (phaseDate) reminderLines.push(`   📅 Target: ${phaseDate}${daysUntil !== null ? ` (${daysUntil >= 0 ? daysUntil + ' hari lagi' : Math.abs(daysUntil) + ' hari lewat'})` : ''}`);\n  alertLines.forEach(a => reminderLines.push(`   ${a}`));\n  reminderLines.push('');\n});\n\nif (activeProjects.length === 0) {\n  reminderLines.push('✅ Tidak ada proyek aktif saat ini.');\n}\n\nif (hasUrgent) {\n  reminderLines.unshift('🚨 <b>ADA ITEM YANG MEMBUTUHKAN PERHATIAN!</b>\\n');\n}\n\nreminderLines.push('---');\nreminderLines.push(`📊 Total Proyek Aktif: ${activeProjects.length}`);\nreminderLines.push('\\nGunakan /summary untuk laporan lengkap.');\n\nconst fullText = reminderLines.join('\\n');\nconst MAX_LEN = 4000;\nconst messages = [];\nif (fullText.length <= MAX_LEN) {\n  messages.push(fullText);\n} else {\n  let remaining = fullText;\n  while (remaining.length > 0) {\n    let chunk = remaining.substring(0, MAX_LEN);\n    const lb = chunk.lastIndexOf('\\n\\n');\n    if (lb > MAX_LEN * 0.5) chunk = remaining.substring(0, lb + 2);\n    messages.push(chunk);\n    remaining = remaining.substring(chunk.length);\n  }\n}\n\nreturn messages.map(text => ({ json: { text } }));"
      },
      "id": "i9000001-0000-0000-0000-000000000003",
      "name": "Build Reminder Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.PM_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "i9000001-0000-0000-0000-000000000004",
      "name": "Send Reminder to PM",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [750, 0],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_A_CRED }}", "name": "Telegram Bot A - PM Assistant" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## VAPT A6 — PM Daily Reminder\n\n**Schedule:** Setiap hari 07:30 WIB (00:30 UTC) dan 16:30 WIB (09:30 UTC)\n\n**Logic:**\n- Fetch semua proyek aktif dari DB-1\n- Untuk setiap proyek:\n  - Cek delay (status = Delay) → flag ⚠️\n  - Cek fase yang jatuh tempo ≤ 3 hari → flag 🔔\n  - Cek PM notes > 24 jam tidak diupdate → flag 📝\n- Kirim ke PM via Bot A\n\n**n8n Variable:** PM_TELEGRAM_CHAT_ID (bukan user_id, tapi chat_id untuk PM private chat)",
        "height": 200,
        "width": 500
      },
      "id": "i9000001-0000-0000-0000-000000000005",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -250]
    }
  ],
  "connections": {
    "Schedule Trigger (07:30 & 16:30 WIB)": {
      "main": [[{ "node": "Fetch All Projects", "type": "main", "index": 0 }]]
    },
    "Fetch All Projects": {
      "main": [[{ "node": "Build Reminder Messages", "type": "main", "index": 0 }]]
    },
    "Build Reminder Messages": {
      "main": [[{ "node": "Send Reminder to PM", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [{ "name": "vapt" }, { "name": "bot-a" }, { "name": "scheduled" }, { "name": "reminder" }],
  "pinData": {},
  "versionId": "i9000001-0000-0000-0000-000000000099",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "{{ N8N_INSTANCE_ID }}" }
}
