workflows/VAPT_A5_PM_Summary.json
{
  "name": "VAPT_A5_PM_Summary",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "chatId", "type": "string" }
          ]
        }
      },
      "id": "h8000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "⏳ <b>Menyiapkan Dashboard PM...</b>\n\nMengambil data dari Notion dan menganalisis dengan AI.\n<i>Estimasi: 10-20 detik</i>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "h8000001-0000-0000-0000-000000000002",
      "name": "Send Loading Notice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [250, -150],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_A_CRED }}", "name": "Telegram Bot A - PM Assistant" }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SHARED_SUMMARY }}",
        "options": { "waitForSubWorkflow": true }
      },
      "id": "h8000001-0000-0000-0000-000000000003",
      "name": "Call Shared Summary Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [250, 0],
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SHARED_SUMMARY }}",
        "fields": {
          "values": [
            { "name": "target_chat_id", "stringValue": "={{ $json.chatId }}" },
            { "name": "summary_mode", "stringValue": "pm_dashboard" },
            { "name": "bot_token_cred_name", "stringValue": "Telegram Bot A - PM Assistant" }
          ]
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB4_DAILY_LOG }}",
        "returnAll": false,
        "limit": 50,
        "options": {}
      },
      "id": "h8000001-0000-0000-0000-000000000004",
      "name": "Fetch Recent Daily Logs",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [500, 0],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const logs = $input.all().map(i => i.json);\nconst chatId = $('Execute Workflow Trigger').first().json.chatId;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return '';\n  if (type === 'title') return p.title?.[0]?.plain_text || '';\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || '';\n  if (type === 'number') return p.number || 0;\n  if (type === 'date') return p.date?.start || '';\n  return '';\n}\n\n// Get last 3 logs per project\nconst logsByProject = {};\nlogs.forEach(log => {\n  const projRel = log.properties?.project_id?.relation || [];\n  const projId = projRel[0]?.id || 'unknown';\n  if (!logsByProject[projId]) logsByProject[projId] = [];\n  if (logsByProject[projId].length < 3) {\n    logsByProject[projId].push({\n      date: getProp(log.properties, 'log_date', 'date'),\n      activity: getProp(log.properties, 'activity_description', 'text'),\n      hours: getProp(log.properties, 'hours_spent', 'number')\n    });\n  }\n});\n\nconst totalHoursToday = logs\n  .filter(l => {\n    const d = getProp(l.properties, 'log_date', 'date');\n    return d === new Date().toISOString().split('T')[0];\n  })\n  .reduce((sum, l) => sum + getProp(l.properties, 'hours_spent', 'number'), 0);\n\nif (Object.keys(logsByProject).length === 0) {\n  return [{ json: { chatId, skipActivityReport: true } }];\n}\n\nlet activitySummary = '\\n\\n📋 <b>AKTIVITAS TERKINI (Per Proyek)</b>\\n';\nfor (const [projId, projLogs] of Object.entries(logsByProject)) {\n  if (projLogs.length > 0) {\n    activitySummary += `\\n🔹 <i>Proyek: ${projId.substring(0, 8)}...</i>\\n`;\n    projLogs.forEach(l => {\n      activitySummary += `  • ${l.date}: ${l.activity.substring(0, 80)}${l.activity.length > 80 ? '...' : ''} (${l.hours}j)\\n`;\n    });\n  }\n}\nactivitySummary += `\\n⏱ <b>Total Jam Hari Ini:</b> ${totalHoursToday} jam`;\n\nreturn [{ json: { chatId, activitySummary, totalHoursToday } }];"
      },
      "id": "h8000001-0000-0000-0000-000000000005",
      "name": "Format Activity Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.activitySummary }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "h8000001-0000-0000-0000-000000000006",
      "name": "Send Activity Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 0],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_A_CRED }}", "name": "Telegram Bot A - PM Assistant" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## VAPT A5 — PM Summary Dashboard\n\n**Trigger:** Sub-workflow dipanggil oleh Bot A Dispatcher (`/summary`)\n\n**Flow (paralel setelah trigger):**\n- Kirim loading notice ke PM\n- Panggil Shared Summary Generator → AI summary semua proyek aktif\n- Fetch 50 log terkini dari Notion DB-4\n\n**Output yang dikirim ke PM:**\n1. AI summary lengkap status proyek (dari Shared Generator)\n2. Ringkasan aktivitas 3 log terkini per proyek + total jam kerja hari ini\n\n**Database:** Notion DB-4 (Daily Log) — read",
        "height": 220,
        "width": 480
      },
      "id": "h8000001-0000-0000-0000-000000000007",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -280]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Send Loading Notice", "type": "main", "index": 0 },
          { "node": "Call Shared Summary Generator", "type": "main", "index": 0 },
          { "node": "Fetch Recent Daily Logs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Recent Daily Logs": {
      "main": [[{ "node": "Format Activity Summary", "type": "main", "index": 0 }]]
    },
    "Format Activity Summary": {
      "main": [[{ "node": "Send Activity Summary", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [{ "name": "vapt" }, { "name": "bot-a" }, { "name": "summary" }],
  "pinData": {},
  "versionId": "h8000001-0000-0000-0000-000000000099",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "{{ N8N_INSTANCE_ID }}" }
}
