workflows/VAPT_C4_Vulnerability_Update.json
{
  "name": "VAPT_C4_Vulnerability_Update",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "chatId", "type": "string" },
            { "name": "userId", "type": "string" },
            { "name": "firstName", "type": "string" },
            { "name": "callbackData", "type": "string" },
            { "name": "session", "type": "object" },
            { "name": "route", "type": "string" },
            { "name": "text", "type": "string" }
          ]
        }
      },
      "id": "n4000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.route }}",
              "rightValue": "c4_init",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "n4000001-0000-0000-0000-000000000002",
      "name": "Is Init?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB2_PENTESTER_LIST }}",
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "telegram_user_id",
              "condition": "equals",
              "value": "={{ $('Execute Workflow Trigger').item.json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n4000001-0000-0000-0000-000000000003",
      "name": "Lookup Pentester",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [500, -200],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "n4000001-0000-0000-0000-000000000004",
      "name": "Is Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, -200]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatId }}",
        "text": "⛔ User tidak terdaftar sebagai pentester.",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "n4000001-0000-0000-0000-000000000005",
      "name": "Send Not Registered",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, -350],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pentester = $input.first().json;\nconst chatId = $('Execute Workflow Trigger').first().json.chatId;\nconst userId = $('Execute Workflow Trigger').first().json.userId;\nconst firstName = $('Execute Workflow Trigger').first().json.firstName;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return null;\n  if (type === 'title') return p.title?.[0]?.plain_text || null;\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || null;\n  if (type === 'relation') return (p.relation || []).map(r => r.id);\n  return null;\n}\n\nreturn [{ json: {\n  chatId,\n  userId,\n  pentesterNotionId: pentester.id,\n  pentesterName: getProp(pentester.properties, 'name', 'text') || firstName\n} }];"
      },
      "id": "n4000001-0000-0000-0000-000000000006",
      "name": "Extract Pentester",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, -200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true
      },
      "id": "n4000001-0000-0000-0000-000000000007",
      "name": "Fetch Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1250, -200],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst pentesterData = $('Extract Pentester').first().json;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return '';\n  if (type === 'title') return p.title?.[0]?.plain_text || '';\n  if (type === 'select') return p.select?.name || '';\n  return '';\n}\n\nconst myProjects = projects.filter(p => {\n  const rels = p.properties?.assigned_pentesters?.relation || [];\n  return rels.some(r => r.id === pentesterData.pentesterNotionId);\n});\n\nconst buttons = myProjects.map(p => ([\n  { text: `${getProp(p.properties, 'project_id', 'title')} — ${getProp(p.properties, 'current_phase', 'select')}`, callback_data: `vuln:proj:${p.id}` }\n]));\n\nreturn [{ json: {\n  chatId: pentesterData.chatId,\n  userId: pentesterData.userId,\n  pentesterNotionId: pentesterData.pentesterNotionId,\n  pentesterName: pentesterData.pentesterName,\n  inline_keyboard: buttons\n} }];"
      },
      "id": "n4000001-0000-0000-0000-000000000008",
      "name": "Filter Assigned Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, -200]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_project_select', data: { pentesterNotionId: $json.pentesterNotionId, pentesterName: $json.pentesterName } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000009",
      "name": "Init Vuln Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1750, -200],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "🐛 <b>Tambah Vulnerability Baru</b>\n\nPilih proyek:",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: $json.inline_keyboard }) }}"
        }
      },
      "id": "n4000001-0000-0000-0000-000000000010",
      "name": "Send Project Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, -200],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incoming = $('Execute Workflow Trigger').first().json;\nconst session = incoming.session || {};\nreturn [{ json: { chatId: incoming.chatId, userId: incoming.userId, step: session.step, data: session.data || {}, text: incoming.text || '', cbData: incoming.callbackData || '' } }];"
      },
      "id": "n4000001-0000-0000-0000-000000000011",
      "name": "Parse Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_project_select", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_project" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_vuln_name", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_name" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_affected_target", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_target" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_severity", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_severity" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_cvss", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_cvss" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_description", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_desc" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": "waiting_recommendation", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "got_rec" }
          ]
        },
        "options": {}
      },
      "id": "n4000001-0000-0000-0000-000000000012",
      "name": "Route Session Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [750, 200]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_vuln_name', data: { ...($json.data), selectedProjectId: $json.cbData.replace('vuln:proj:', '') } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000013",
      "name": "Save Project → Ask Name",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 50],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Proyek dipilih!\n\n<b>Nama vulnerability:</b>\n<i>Contoh: SQL Injection pada /login, XSS pada form komentar</i>",
        "additionalFields": { "parse_mode": "HTML", "reply_markup": "{\"force_reply\": true}" }
      },
      "id": "n4000001-0000-0000-0000-000000000014",
      "name": "Ask Vuln Name",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 50],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_affected_target', data: { ...($json.data), vulnerability_name: $json.text } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000015",
      "name": "Save Name → Ask Target",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 150],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Nama vulnerability tersimpan!\n\n<b>Target yang terpengaruh:</b>\n<i>Contoh: https://app.client.com/api/v1/login</i>",
        "additionalFields": { "parse_mode": "HTML", "reply_markup": "{\"force_reply\": true}" }
      },
      "id": "n4000001-0000-0000-0000-000000000016",
      "name": "Ask Target",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 150],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_severity', data: { ...($json.data), affected_target: $json.text } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000017",
      "name": "Save Target → Ask Severity",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 250],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Target tersimpan!\n\n<b>Pilih tingkat severity:</b>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\": [[{\"text\": \"🔴 Critical\", \"callback_data\": \"vuln:sev:Critical\"}, {\"text\": \"🟠 High\", \"callback_data\": \"vuln:sev:High\"}], [{\"text\": \"🟡 Medium\", \"callback_data\": \"vuln:sev:Medium\"}, {\"text\": \"🟢 Low\", \"callback_data\": \"vuln:sev:Low\"}, {\"text\": \"ℹ️ Info\", \"callback_data\": \"vuln:sev:Informational\"}]]}"
        }
      },
      "id": "n4000001-0000-0000-0000-000000000018",
      "name": "Ask Severity",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 250],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_cvss', data: { ...($json.data), severity: $json.cbData.replace('vuln:sev:', '') } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000019",
      "name": "Save Severity → Ask CVSS",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 350],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Severity dipilih!\n\n<b>CVSS Score (0.0 - 10.0):</b>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\": [[{\"text\":\"9.0\",\"callback_data\":\"vuln:cvss:9.0\"},{\"text\":\"8.5\",\"callback_data\":\"vuln:cvss:8.5\"},{\"text\":\"7.5\",\"callback_data\":\"vuln:cvss:7.5\"},{\"text\":\"6.5\",\"callback_data\":\"vuln:cvss:6.5\"},{\"text\":\"5.0\",\"callback_data\":\"vuln:cvss:5.0\"},{\"text\":\"3.5\",\"callback_data\":\"vuln:cvss:3.5\"},{\"text\":\"2.0\",\"callback_data\":\"vuln:cvss:2.0\"}]]}"
        }
      },
      "id": "n4000001-0000-0000-0000-000000000020",
      "name": "Ask CVSS",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 350],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_description', data: { ...($json.data), cvss_score: parseFloat($json.cbData.replace('vuln:cvss:', '') || $json.text) } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000021",
      "name": "Save CVSS → Ask Description",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 450],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ CVSS Score tersimpan!\n\n<b>Deskripsi teknis vulnerability:</b>\n<i>Jelaskan detail teknis, cara exploit, bukti (PoC), dll.</i>",
        "additionalFields": { "parse_mode": "HTML", "reply_markup": "{\"force_reply\": true}" }
      },
      "id": "n4000001-0000-0000-0000-000000000022",
      "name": "Ask Description",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 450],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=vapt:session:{{ $json.userId }}",
        "value": "={{ JSON.stringify({ command: '/add_vuln', step: 'waiting_recommendation', data: { ...($json.data), description: $json.text } }) }}",
        "expire": true,
        "seconds": 3600
      },
      "id": "n4000001-0000-0000-0000-000000000023",
      "name": "Save Desc → Ask Recommendation",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 550],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Deskripsi tersimpan!\n\n<b>Rekomendasi remediasi:</b>\n<i>Jelaskan langkah perbaikan yang disarankan.</i>",
        "additionalFields": { "parse_mode": "HTML", "reply_markup": "{\"force_reply\": true}" }
      },
      "id": "n4000001-0000-0000-0000-000000000024",
      "name": "Ask Recommendation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 550],
      "credentials": { "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst data = item.data || {};\nconst today = new Date().toISOString().split('T')[0];\nconst vulnId = `VULN-${Date.now()}`;\n\nreturn [{ json: {\n  chatId: item.chatId,\n  userId: item.userId,\n  data: { ...data, recommendation: item.text },\n  vulnId,\n  today,\n  notionPayload: {\n    vuln_id: vulnId,\n    project_id: data.selectedProjectId,\n    reported_by: data.pentesterNotionId,\n    vulnerability_name: data.vulnerability_name,\n    cvss_score: data.cvss_score || 0,\n    severity: data.severity,\n    affected_target: data.affected_target,\n    description: data.description,\n    recommendation: item.text,\n    status: 'Open',\n    discovery_date: today\n  }\n} }];"
      },
      "id": "n4000001-0000-0000-0000-000000000025",
      "name": "Build Vuln Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 650]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $vars.NOTION_DB5_VULN_LIST }}",
        "title": "={{ $json.notionPayload.vuln_id }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "project_id", "type": "relation", "relationValue": [{ "id": "={{ $json.notionPayload.project_id }}" }] },
            { "key": "reported_by", "type": "relation", "relationValue": [{ "id": "={{ $json.notionPayload.reported_by }}" }] },
            { "key": "vulnerability_name", "type": "richText", "textContent": "={{ $json.notionPayload.vulnerability_name }}" },
            { "key": "cvss_score", "type": "number", "numberValue": "={{ $json.notionPayload.cvss_score }}" },
            { "key": "severity", "type": "select", "selectValue": "={{ $json.notionPayload.severity }}" },
            { "key": "affected_target", "type": "richText", "textContent": "={{ $json.notionPayload.affected_target }}" },
            { "key": "description", "type": "richText", "textContent": "={{ $json.notionPayload.description }}" },
            { "key": "recommendation", "type": "richText", "textContent": "={{ $json.notionPayload.recommendation }}" },
            { "key": "status", "type": "select", "selectValue": "Open" },
            { "key": "discovery_date", "type": "date", "dateValue": "={{ $json.notionPayload.discovery_date }}" }
          ]
        }
      },
      "id": "n4000001-0000-0000-0000-000000000026",
      "name": "Create Vuln in Notion DB5",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1250, 650],
      "credentials": {
        "notionApi": { "id": "{{ NOTION_CRED }}", "name": "Notion API" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=vapt:session:{{ $('Build Vuln Payload').item.json.userId }}"
      },
      "id": "n4000001-0000-0000-0000-000000000027",
      "name": "Clear Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1500, 650],
      "credentials": { "redis": { "id": "{{ REDIS_CRED }}", "name": "Redis VAPT" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Build Vuln Payload').item.json.chatId }}",
        "text": "={{ '🐛 <b>Vulnerability Berhasil Dicatat!</b>\\n\\n🆔 <b>ID:</b> ' + $('Build Vuln Payload').item.json.vulnId + '\\n📛 <b>Nama:</b> ' + $('Build Vuln Payload').item.json.data.vulnerability_name + '\\n🎯 <b>Target:</b> ' + $('Build Vuln Payload').item.json.data.affected_target + '\\n⚠️ <b>Severity:</b> ' + $('Build Vuln Payload').item.json.data.severity + '\\n📊 <b>CVSS:</b> ' + $('Build Vuln Payload').item.json.data.cvss_score + '\\n📅 <b>Ditemukan:</b> ' + $('Build Vuln Payload').item.json.today + '\\n🔓 <b>Status:</b> Open\\n\\nData tersimpan di Notion DB5.' }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "n4000001-0000-0000-0000-000000000028",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1750, 650],
      "credentials": {
        "telegramApi": { "id": "{{ TELEGRAM_BOT_C_CRED }}", "name": "Telegram Bot C - Pentester Group" }
      }
    },
    {
      "parameters": {
        "content": "## VAPT C4 — Vulnerability Update\n\n**Trigger:** Sub-workflow dipanggil oleh Bot C Dispatcher (`/add_vuln`)\n\n**Validasi:** Lookup `telegram_user_id` di Notion DB-2. Jika tidak terdaftar → akses ditolak.\n\n**Flow (7 langkah via Redis session):**\n1. Pilih proyek yang ditugaskan (inline keyboard)\n2. Input nama vulnerability\n3. Input target yang terpengaruh (URL/host)\n4. Pilih severity: Critical / High / Medium / Low / Informational\n5. Pilih CVSS score (inline keyboard atau ketik manual)\n6. Input deskripsi teknis & bukti (PoC)\n7. Input rekomendasi remediasi\n\n**Output:** Vulnerability tersimpan di Notion DB-5\n- Status: `Open`, ID: `VULN-{timestamp}`\n**Database:** DB-2 (read), DB-5 (create)\n**Session Key:** `vapt:session:{userId}` (TTL 1 jam)",
        "height": 290,
        "width": 500
      },
      "id": "n4000001-0000-0000-0000-000000000029",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -330]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Is Init?", "type": "main", "index": 0 }]]
    },
    "Is Init?": {
      "main": [
        [{ "node": "Lookup Pentester", "type": "main", "index": 0 }],
        [{ "node": "Parse Session", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Pentester": {
      "main": [[{ "node": "Is Registered?", "type": "main", "index": 0 }]]
    },
    "Is Registered?": {
      "main": [
        [{ "node": "Extract Pentester", "type": "main", "index": 0 }],
        [{ "node": "Send Not Registered", "type": "main", "index": 0 }]
      ]
    },
    "Extract Pentester": {
      "main": [[{ "node": "Fetch Projects", "type": "main", "index": 0 }]]
    },
    "Fetch Projects": {
      "main": [[{ "node": "Filter Assigned Projects", "type": "main", "index": 0 }]]
    },
    "Filter Assigned Projects": {
      "main": [[{ "node": "Init Vuln Session", "type": "main", "index": 0 }]]
    },
    "Init Vuln Session": {
      "main": [[{ "node": "Send Project Selection", "type": "main", "index": 0 }]]
    },
    "Parse Session": {
      "main": [[{ "node": "Route Session Step", "type": "main", "index": 0 }]]
    },
    "Route Session Step": {
      "main": [
        [{ "node": "Save Project → Ask Name", "type": "main", "index": 0 }],
        [{ "node": "Save Name → Ask Target", "type": "main", "index": 0 }],
        [{ "node": "Save Target → Ask Severity", "type": "main", "index": 0 }],
        [{ "node": "Save Severity → Ask CVSS", "type": "main", "index": 0 }],
        [{ "node": "Save CVSS → Ask Description", "type": "main", "index": 0 }],
        [{ "node": "Save Desc → Ask Recommendation", "type": "main", "index": 0 }],
        [{ "node": "Build Vuln Payload", "type": "main", "index": 0 }]
      ]
    },
    "Save Project → Ask Name": { "main": [[{ "node": "Ask Vuln Name", "type": "main", "index": 0 }]] },
    "Save Name → Ask Target": { "main": [[{ "node": "Ask Target", "type": "main", "index": 0 }]] },
    "Save Target → Ask Severity": { "main": [[{ "node": "Ask Severity", "type": "main", "index": 0 }]] },
    "Save Severity → Ask CVSS": { "main": [[{ "node": "Ask CVSS", "type": "main", "index": 0 }]] },
    "Save CVSS → Ask Description": { "main": [[{ "node": "Ask Description", "type": "main", "index": 0 }]] },
    "Save Desc → Ask Recommendation": { "main": [[{ "node": "Ask Recommendation", "type": "main", "index": 0 }]] },
    "Build Vuln Payload": { "main": [[{ "node": "Create Vuln in Notion DB5", "type": "main", "index": 0 }]] },
    "Create Vuln in Notion DB5": { "main": [[{ "node": "Clear Session", "type": "main", "index": 0 }]] },
    "Clear Session": { "main": [[{ "node": "Send Confirmation", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [{ "name": "vapt" }, { "name": "bot-c" }, { "name": "vulnerability" }],
  "pinData": {},
  "versionId": "n4000001-0000-0000-0000-000000000099",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "{{ N8N_INSTANCE_ID }}" }
}
