workflows/VAPT_C2_Pentester_AutoUpdate.json
{
  "name": "VAPT_C2_Pentester_AutoUpdate",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 1 * * *" },
            { "field": "cronExpression", "expression": "0 10 * * *" }
          ]
        }
      },
      "id": "o5000001-0000-0000-0000-000000000001",
      "name": "Schedule Trigger (08:00 & 17:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "08:00 WIB = 01:00 UTC | 17:00 WIB = 10:00 UTC"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst isEvening = now.getUTCHours() >= 10;\nreturn [{ json: { summaryMode: isEvening ? 'evening' : 'morning', target_chat_id: $vars.PENTESTER_GROUP_CHAT_ID } }];"
      },
      "id": "o5000001-0000-0000-0000-000000000002",
      "name": "Detect Morning or Evening",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SHARED_SUMMARY }}",
        "fields": {
          "values": [
            { "name": "target_chat_id", "stringValue": "={{ $json.target_chat_id }}" },
            { "name": "summary_mode", "stringValue": "={{ $json.summaryMode }}" }
          ]
        },
        "options": { "waitForSubWorkflow": false }
      },
      "id": "o5000001-0000-0000-0000-000000000003",
      "name": "Call Summary Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [500, 0]
    },
    {
      "parameters": {
        "content": "## VAPT C2 — Pentester Group Auto Update\n\n**Schedule:**\n- 08:00 WIB (01:00 UTC) — Morning summary\n- 17:00 WIB (10:00 UTC) — Evening summary\n\n**Flow:**\n1. Deteksi waktu: morning atau evening (UTC hour ≥ 10 = evening)\n2. Panggil Shared Summary Generator dengan mode `morning` atau `evening`\n3. Summary otomatis dikirim ke `PENTESTER_GROUP_CHAT_ID` via Bot C\n\n**Bot:** Bot C (Pentester Group)\n**Catatan:** Pengiriman aktual dikelola oleh Shared Summary Generator",
        "height": 210,
        "width": 460
      },
      "id": "o5000001-0000-0000-0000-000000000004",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -250]
    }
  ],
  "connections": {
    "Schedule Trigger (08:00 & 17:00 WIB)": {
      "main": [[{ "node": "Detect Morning or Evening", "type": "main", "index": 0 }]]
    },
    "Detect Morning or Evening": {
      "main": [[{ "node": "Call Summary Generator", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [{ "name": "vapt" }, { "name": "bot-c" }, { "name": "scheduled" }],
  "pinData": {},
  "versionId": "o5000001-0000-0000-0000-000000000099",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "{{ N8N_INSTANCE_ID }}" }
}
