workflows/VAPT_A1_Generate_Documents.json
{
  "name": "VAPT_A1_Generate_Documents",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "userId",
              "type": "string"
            },
            {
              "name": "command",
              "type": "string"
            },
            {
              "name": "callbackData",
              "type": "string"
            },
            {
              "name": "session",
              "type": "object"
            },
            {
              "name": "route",
              "type": "string"
            }
          ]
        }
      },
      "id": "d4000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.route }}",
              "rightValue": "a1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "d4000001-0000-0000-0000-000000000002",
      "name": "Is Initial Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "d4000001-0000-0000-0000-000000000003",
      "name": "Fetch Projects from Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        -150
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst incoming = $('Execute Workflow Trigger').first().json;\nconst docType = incoming.command === '/generate_sow' ? 'SOW' : 'ROE';\n\nfunction getProp(props, key, type) {\n  const p = props[key];\n  if (!p) return null;\n  if (type === 'title') return p.title?.[0]?.plain_text || null;\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || null;\n  if (type === 'select') return p.select?.name || null;\n  if (type === 'multi_select') return p.multi_select?.map(s => s.name) || [];\n  if (type === 'date') return p.date?.start || null;\n  return null;\n}\n\nconst buttons = projects.map(p => ({\n  text: `${getProp(p.properties, 'project_id', 'title')} - ${getProp(p.properties, 'client_name', 'text') || 'N/A'}`,\n  callback_data: `${docType.toLowerCase()}:${p.id}`\n}));\n\nconst rows = [];\nfor (let i = 0; i < buttons.length; i += 2) {\n  rows.push(buttons.slice(i, i + 2));\n}\n\nreturn [{\n  json: {\n    chatId: incoming.chatId,\n    docType,\n    inline_keyboard: rows\n  }\n}];"
      },
      "id": "d4000001-0000-0000-0000-000000000004",
      "name": "Build Project Selection Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        -150
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ '📄 Generate <b>' + $json.docType + '</b>\\n\\nPilih proyek:' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: $json.inline_keyboard }) }}"
        }
      },
      "id": "d4000001-0000-0000-0000-000000000005",
      "name": "Send Project Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -150
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incoming = $('Execute Workflow Trigger').first().json;\nconst cbData = incoming.callbackData;\nconst [docType, projectNotionId] = cbData.split(':');\nreturn [{ json: { chatId: incoming.chatId, docType: docType.toUpperCase(), projectNotionId } }];"
      },
      "id": "d4000001-0000-0000-0000-000000000006",
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "get",
        "pageId": "={{ $json.projectNotionId }}"
      },
      "id": "d4000001-0000-0000-0000-000000000007",
      "name": "Fetch Project Details",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        750,
        150
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const templateItem = .first().json;\nconst templateText = templateItem.templateText || '';\nconst project = .first().json;\nconst docType = .first().json.docType;\nconst chatId = .first().json.chatId;\n\nfunction getProp(props, key, type) {\n  const p = props[key];\n  if (!p) return '';\n  if (type === 'title') return p.title?.[0]?.plain_text || '';\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || '';\n  if (type === 'select') return p.select?.name || '';\n  if (type === 'multi_select') return (p.multi_select || []).map(s => s.name).join(', ');\n  if (type === 'date') return p.date?.start || '';\n  return '';\n}\n\nconst props = project.properties || {};\nconst projectData = {\n  project_id: getProp(props, 'project_id', 'title'),\n  project_name: getProp(props, 'project_name', 'text'),\n  client_name: getProp(props, 'client_name', 'text'),\n  object_list: getProp(props, 'object_list', 'multi_select'),\n  methodology: getProp(props, 'methodology', 'select'),\n  date_pre_kickoff: getProp(props, 'date_pre_kickoff', 'date'),\n  date_kickoff: getProp(props, 'date_kickoff', 'date'),\n  date_initial_test: getProp(props, 'date_initial_test', 'date'),\n  date_initial_report: getProp(props, 'date_initial_report', 'date'),\n  date_presentation: getProp(props, 'date_presentation', 'date'),\n  date_patching: getProp(props, 'date_patching', 'date'),\n  date_retest: getProp(props, 'date_retest', 'date'),\n  date_retest_report: getProp(props, 'date_retest_report', 'date'),\n  current_phase: getProp(props, 'current_phase', 'select')\n};\n\nconst templateSection = templateText\n  ? '\n\n---\nTEMPLATE ACUAN DOKUMEN\nIkuti struktur, format, dan gaya penulisan template berikut secara konsisten:\n\n' + templateText + '\n---'\n  : '';\n\nconst systemPrompt = docType === 'SOW'\n  ? 'Kamu adalah penulis dokumen VAPT profesional. Buat dokumen Statement of Work (SOW) formal dalam Bahasa Indonesia berdasarkan data proyek yang diberikan.' + templateSection + '\n\nLengkapi semua bagian template dengan data proyek aktual. Gunakan bahasa formal dan profesional. Sertakan tanda tangan placeholder.'\n  : 'Kamu adalah penulis dokumen VAPT profesional. Buat dokumen Rules of Engagement (ROE) formal dalam Bahasa Indonesia berdasarkan data proyek yang diberikan.' + templateSection + '\n\nLengkapi semua bagian template dengan data proyek aktual. Gunakan bahasa formal dan profesional.';\n\nreturn [{ json: { chatId, docType, projectData, systemPrompt, userMessage: JSON.stringify(projectData, null, 2) } }];"
      },
      "id": "d4000001-0000-0000-0000-000000000008",
      "name": "Prepare Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "⏳ Sedang membuat dokumen <b>{{ $json.docType }}</b> untuk proyek <b>{{ $json.projectData.project_name }}</b>...\n\n<i>Proses ini membutuhkan beberapa detik.</i>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d4000001-0000-0000-0000-000000000009",
      "name": "Send Processing Notice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.3,
          "maxTokens": 8192
        }
      },
      "id": "d4000001-0000-0000-0000-000000000010",
      "name": "Claude LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "{{ ANTHROPIC_CRED }}",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "d4000001-0000-0000-0000-000000000011",
      "name": "Generate Document via Claude",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const generated = $input.first().json.text || 'Dokumen tidak dapat dibuat saat ini.';\nconst chatId = $('Prepare Claude Prompt').first().json.chatId;\nconst docType = $('Prepare Claude Prompt').first().json.docType;\nconst projectName = $('Prepare Claude Prompt').first().json.projectData.project_name;\n\n// Split document into chunks of 4000 chars for Telegram\nconst MAX_LEN = 4000;\nconst header = `📄 <b>${docType} — ${projectName}</b>\\n${'═'.repeat(30)}\\n\\n`;\nconst fullText = header + generated;\n\nconst messages = [];\nif (fullText.length <= MAX_LEN) {\n  messages.push({ chatId, text: fullText, isFirst: true });\n} else {\n  let remaining = fullText;\n  let part = 1;\n  while (remaining.length > 0) {\n    let chunk = remaining.substring(0, MAX_LEN);\n    const lastBreak = chunk.lastIndexOf('\\n\\n');\n    if (lastBreak > MAX_LEN * 0.5) chunk = remaining.substring(0, lastBreak + 2);\n    messages.push({ chatId, text: chunk, part });\n    remaining = remaining.substring(chunk.length);\n    part++;\n  }\n}\n\nreturn messages.map(m => ({ json: m }));"
      },
      "id": "d4000001-0000-0000-0000-000000000012",
      "name": "Split & Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        150
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d4000001-0000-0000-0000-000000000013",
      "name": "Send Document Parts",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": "={{ $('Parse Callback Data').first().json.docType === 'SOW' ? $vars.NOTION_PAGE_SOW_TEMPLATE : $vars.NOTION_PAGE_ROE_TEMPLATE }}",
        "returnAll": true
      },
      "id": "d4000001-0000-0000-0000-000000000015",
      "name": "Fetch Template Blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1000,
        350
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const blocks = $input.all().map(i => i.json);\nconst parsed = $('Parse Callback Data').first().json;\n\nconst textTypes = ['paragraph','heading_1','heading_2','heading_3',\n  'bulleted_list_item','numbered_list_item','to_do','quote','callout','code'];\n\nconst lines = blocks\n  .filter(b => textTypes.includes(b.type))\n  .map(b => {\n    const content = b[b.type];\n    if (!content?.rich_text) return '';\n    const text = content.rich_text.map(r => r.plain_text || '').join('');\n    if (!text.trim()) return '';\n    if (b.type === 'heading_1') return '\\n# ' + text;\n    if (b.type === 'heading_2') return '\\n## ' + text;\n    if (b.type === 'heading_3') return '\\n### ' + text;\n    if (b.type === 'bulleted_list_item') return '• ' + text;\n    if (b.type === 'numbered_list_item') return '- ' + text;\n    return text;\n  })\n  .filter(t => t);\n\nconst templateText = lines.length > 0\n  ? lines.join('\\n')\n  : '';\n\nreturn [{ json: { templateText, docType: parsed.docType, chatId: parsed.chatId } }];"
      },
      "id": "d4000001-0000-0000-0000-000000000016",
      "name": "Extract Template Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        350
      ]
    },
    {
      "parameters": {
        "content": "## VAPT A1 — Generate SOW & ROE\n\n**Trigger:** /generate_sow atau /generate_roe dari Bot A\n\n**Flow:**\n1. Jika initial command → fetch projects → kirim inline keyboard pilih proyek\n2. Jika callback_query (sow:NOTION_ID atau roe:NOTION_ID):\n   → Fetch detail proyek dari Notion\n   → Fetch template blocks dari Notion (SOW/ROE template page)\n   → Extract template text dari blocks\n   → Build Claude prompt dengan template acuan + data proyek\n   → Claude generate dokumen mengikuti struktur template\n   → Split & kirim ke PM via Telegram\n\n**Template:** Disimpan sebagai halaman Notion (rich text blocks)\n- SOW: `NOTION_PAGE_SOW_TEMPLATE`\n- ROE: `NOTION_PAGE_ROE_TEMPLATE`\n\n**Model:** claude-sonnet-4-20250514, temp=0.3, maxTokens=8192",
        "height": 220,
        "width": 500
      },
      "id": "d4000001-0000-0000-0000-000000000014",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Initial Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Initial Command?": {
      "main": [
        [
          {
            "node": "Fetch Projects from Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Projects from Notion": {
      "main": [
        [
          {
            "node": "Build Project Selection Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Selection Keyboard": {
      "main": [
        [
          {
            "node": "Send Project Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Fetch Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Details": {
      "main": [
        [
          {
            "node": "Fetch Template Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Prompt": {
      "main": [
        [
          {
            "node": "Send Processing Notice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Document via Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Document via Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Document via Claude": {
      "main": [
        [
          {
            "node": "Split & Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split & Prepare Document": {
      "main": [
        [
          {
            "node": "Send Document Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Blocks": {
      "main": [
        [
          {
            "node": "Extract Template Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Template Text": {
      "main": [
        [
          {
            "node": "Prepare Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [
    {
      "name": "vapt"
    },
    {
      "name": "bot-a"
    },
    {
      "name": "document-generation"
    }
  ],
  "pinData": {},
  "versionId": "d4000001-0000-0000-0000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ N8N_INSTANCE_ID }}"
  }
}