workflows/VAPT_A4_Update_Phase.json
{
  "name": "VAPT_A4_Update_Phase",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "callbackData",
              "type": "string"
            },
            {
              "name": "session",
              "type": "object"
            },
            {
              "name": "route",
              "type": "string"
            },
            {
              "name": "text",
              "type": "string"
            }
          ]
        }
      },
      "id": "g7000001-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.route }}",
              "rightValue": "a4",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "g7000001-0000-0000-0000-000000000002",
      "name": "Is Initial Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $vars.NOTION_DB1_PROJECT_LIST }}",
        "returnAll": true,
        "options": {}
      },
      "id": "g7000001-0000-0000-0000-000000000003",
      "name": "Fetch Active Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        -200
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const projects = $input.all().map(i => i.json);\nconst chatId = $('Execute Workflow Trigger').first().json.chatId;\n\nfunction getProp(props, key, type) {\n  const p = props?.[key];\n  if (!p) return '';\n  if (type === 'title') return p.title?.[0]?.plain_text || '';\n  if (type === 'text') return p.rich_text?.[0]?.plain_text || '';\n  if (type === 'select') return p.select?.name || '';\n  return '';\n}\n\n// Filter out finished projects\nconst activeProjects = projects.filter(p => {\n  const status = getProp(p.properties, 'current_phase', 'select');\n  return status !== 'Retest Report'; // Show all including retest report\n});\n\nconst buttons = activeProjects.map(p => ({\n  text: `${getProp(p.properties, 'project_id', 'title')} | ${getProp(p.properties, 'current_phase', 'select')}`,\n  callback_data: `phase:proj:${p.id}`\n}));\n\nconst rows = [];\nfor (let i = 0; i < buttons.length; i += 1) {\n  rows.push([buttons[i]]);\n}\n\nreturn [{ json: { chatId, inline_keyboard: rows, count: activeProjects.length } }];"
      },
      "id": "g7000001-0000-0000-0000-000000000004",
      "name": "Build Project List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "🔄 <b>Update Fase Proyek</b>\n\nPilih proyek yang akan di-update:\n<i>Format: ID | Fase Saat Ini</i>",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: $json.inline_keyboard }) }}"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000005",
      "name": "Send Project List",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -200
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incoming = $('Execute Workflow Trigger').first().json;\nconst cbData = incoming.callbackData || '';\nconst session = incoming.session || {};\nconst chatId = incoming.chatId;\n\nif (cbData.startsWith('phase:proj:')) {\n  const projectId = cbData.replace('phase:proj:', '');\n  return [{ json: { chatId, step: 'select_phase', projectId } }];\n}\nif (cbData.startsWith('phase:set:')) {\n  const parts = cbData.replace('phase:set:', '').split(':');\n  const projectId = parts[0];\n  const phase = parts.slice(1).join(':');\n  return [{ json: { chatId, step: 'set_phase', projectId, phase } }];\n}\nif (cbData.startsWith('status:set:')) {\n  const status = cbData.replace('status:set:', '');\n  const sessionData = session.data || {};\n  return [{ json: { chatId, step: 'set_status', projectId: sessionData.projectId, phase: sessionData.phase, status } }];\n}\nif (session.step === 'waiting_notes') {\n  const d = session.data || {};\n  return [{ json: { chatId, step: 'save_notes', projectId: d.projectId, phase: d.phase, status: d.status, notes: incoming.text } }];\n}\nreturn [{ json: { chatId, step: 'unknown' } }];"
      },
      "id": "g7000001-0000-0000-0000-000000000006",
      "name": "Parse Callback Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "select_phase",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "show_phases"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "set_phase",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ask_status"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "set_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ask_notes"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "save_notes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "save_and_update"
            }
          ]
        },
        "options": {}
      },
      "id": "g7000001-0000-0000-0000-000000000007",
      "name": "Route Callback Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "📍 Pilih fase baru untuk proyek ini:",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: [\n  [{text: '1️⃣ Pre-Kickoff', callback_data: 'phase:set:' + $json.projectId + ':Pre-Kickoff'}],\n  [{text: '2️⃣ Kickoff', callback_data: 'phase:set:' + $json.projectId + ':Kickoff'}],\n  [{text: '3️⃣ Initial Test', callback_data: 'phase:set:' + $json.projectId + ':Initial Test'}],\n  [{text: '4️⃣ Initial Report', callback_data: 'phase:set:' + $json.projectId + ':Initial Report'}],\n  [{text: '5️⃣ Presentation', callback_data: 'phase:set:' + $json.projectId + ':Presentation'}],\n  [{text: '6️⃣ Patching', callback_data: 'phase:set:' + $json.projectId + ':Patching'}],\n  [{text: '7️⃣ Retest', callback_data: 'phase:set:' + $json.projectId + ':Retest'}],\n  [{text: '8️⃣ Retest Report', callback_data: 'phase:set:' + $json.projectId + ':Retest Report'}]\n] }) }}"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000008",
      "name": "Show Phase Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_phase', step: 'waiting_status', data: { projectId: $json.projectId, phase: $json.phase } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "g7000001-0000-0000-0000-000000000009",
      "name": "Save Phase Selection to Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ '✅ Status dipilih: <b>' + $json.status + '</b>\\n\\nMasukkan catatan PM untuk update ini:\\n<i>(Opsional, ketik \"-\" untuk skip)</i>' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"force_reply\": true}"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000010",
      "name": "Ask PM Notes",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst today = new Date();\nconst notes = item.notes === '-' ? '' : (item.notes || '');\nconst projectStatus = item.status || '';\n\nreturn [{ json: {\n  chatId: item.chatId,\n  projectId: item.projectId,\n  phase: item.phase,\n  status: projectStatus,\n  notes,\n  updateProperties: {\n    current_phase: { select: { name: item.phase } },\n    project_status: projectStatus ? { select: { name: projectStatus } } : undefined,\n    pm_notes: notes ? { rich_text: [{ text: { content: notes } }] } : undefined,\n    last_updated: { date: { start: today.toISOString().split('T')[0] } }\n  }\n} }];"
      },
      "id": "g7000001-0000-0000-0000-000000000011",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "update",
        "pageId": "={{ $json.projectId }}",
        "propertiesUi": {
          "propertyValues": "={{ Object.fromEntries(Object.entries($json.updateProperties).filter(([k,v]) => v !== undefined)) }}"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000012",
      "name": "Update Notion Project Phase",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "{{ NOTION_CRED }}",
          "name": "Notion API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "del"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $('Build Update Payload').item.json.chatId }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "g7000001-0000-0000-0000-000000000013",
      "name": "Clear Session After Update",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1500,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Build Update Payload').item.json.chatId }}",
        "text": "={{ '✅ <b>Proyek Berhasil Diupdate!</b>\\n\\n📍 <b>Fase Baru:</b> ' + $('Build Update Payload').item.json.phase + '\\n🔖 <b>Status:</b> ' + ($('Build Update Payload').item.json.status || '-') + '\\n📝 <b>Catatan PM:</b> ' + ($('Build Update Payload').item.json.notes || '(tidak ada)') + '\\n🕐 <b>Diupdate:</b> ' + new Date().toLocaleString(\\'id-ID\\', {timeZone:\\'Asia/Jakarta\\'}) + ' WIB\\n\\nData telah tersimpan di Notion.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000014",
      "name": "Send Update Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1750,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "content": "## VAPT A4 — Update Phase & Status\n\n**Trigger:** Sub-workflow dipanggil oleh Bot A Dispatcher (`/update_phase`)\n\n**Flow:**\n1. Fetch semua proyek dari Notion DB-1\n2. Tampilkan daftar proyek (inline keyboard)\n3. Pilih proyek → tampilkan 8 opsi fase\n4. Pilih fase → tampilkan 4 opsi **project_status**\n   (Not Started / On Progress / Blocking/Delay / Done/Finish)\n5. Pilih status → input catatan PM (opsional)\n6. Update `current_phase`, `project_status`, `pm_notes`, `last_updated` di Notion DB-1\n\n**Session steps:** select_phase → set_phase → waiting_status → set_status → waiting_notes → save_notes\n**Database:** Notion DB-1 (Project List)",
        "height": 280,
        "width": 490
      },
      "id": "g7000001-0000-0000-0000-000000000015",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ '✅ Fase dipilih: <b>' + $json.phase + '</b>\\n\\nPilih status proyek saat ini:' }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"🟢 On Progress\",\"callback_data\":\"status:set:On Progress\"}],[{\"text\":\"🔴 Blocking / Delay\",\"callback_data\":\"status:set:Blocking/Delay\"}],[{\"text\":\"⚪ Not Started\",\"callback_data\":\"status:set:Not Started\"}],[{\"text\":\"✅ Done / Finish\",\"callback_data\":\"status:set:Done/Finish\"}]]}"
        }
      },
      "id": "g7000001-0000-0000-0000-000000000016",
      "name": "Show Status Selection",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_BOT_A_CRED }}",
          "name": "Telegram Bot A - PM Assistant"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $vars.WF_ID_SESSION_MANAGER }}",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "set"
            },
            {
              "name": "session_key",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "session_data",
              "stringValue": "={{ JSON.stringify({ command: '/update_phase', step: 'waiting_notes', data: { projectId: $json.projectId, phase: $json.phase, status: $json.status } }) }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "g7000001-0000-0000-0000-000000000017",
      "name": "Save Status to Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Initial Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Initial Command?": {
      "main": [
        [
          {
            "node": "Fetch Active Projects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Projects": {
      "main": [
        [
          {
            "node": "Build Project List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project List": {
      "main": [
        [
          {
            "node": "Send Project List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Route": {
      "main": [
        [
          {
            "node": "Route Callback Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Callback Step": {
      "main": [
        [
          {
            "node": "Show Phase Selection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Phase Selection to Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Status to Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Phase Selection to Session": {
      "main": [
        [
          {
            "node": "Show Status Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Payload": {
      "main": [
        [
          {
            "node": "Update Notion Project Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Project Phase": {
      "main": [
        [
          {
            "node": "Clear Session After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Session After Update": {
      "main": [
        [
          {
            "node": "Send Update Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Status to Session": {
      "main": [
        [
          {
            "node": "Ask PM Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "{{ VAPT_ERROR_HANDLER_ID }}"
  },
  "staticData": null,
  "tags": [
    {
      "name": "vapt"
    },
    {
      "name": "bot-a"
    },
    {
      "name": "phase-update"
    }
  ],
  "pinData": {},
  "versionId": "g7000001-0000-0000-0000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ N8N_INSTANCE_ID }}"
  }
}